.titulo
  font-size: 70px

.subtitulo
  font-size: 24px

.guitarras
  color: #1f313c

.guitarras h2
  font-size: 35px

.subtitulo-guitarra
  font-size: 50px

.portada
  background-image: url("../img/background.png")
  color: #fff

.menu
  font-size: 24px
